# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.env
venv/
.venv/

# Uploads
temp_*
*.pdf

# Node
node_modules/

# Logs
*.log

# VS Code
.vscode/

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db