.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

min-height:85vh;

}

.hero-content{

width:50%;

}

.badge{

display:inline-block;

background:#eef2ff;

color:#6C63FF;

padding:10px 20px;

border-radius:30px;

margin-bottom:25px;

font-size:14px;

font-weight:600;

}

.hero-content h1{

font-size:65px;

line-height:75px;

margin-bottom:25px;

color:#111827;

}

.hero-content span{

color:#6C63FF;

}

.hero-content p{

font-size:18px;

line-height:32px;

color:#6B7280;

margin-bottom:40px;

}

.buttons{

display:flex;

gap:20px;

}

.primary{

padding:16px 34px;

background:#6C63FF;

color:white;

border:none;

border-radius:14px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.primary:hover{

transform:translateY(-3px);

}

.secondary{

padding:16px 34px;

background:white;

border:2px solid #6C63FF;

color:#6C63FF;

border-radius:14px;

cursor:pointer;

transition:.3s;

}

.secondary:hover{

background:#6C63FF;

color:white;

}

.hero-image img{

width:600px;

}