.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:white;

position:sticky;

top:0;

z-index:1000;

}

.logo{

font-size:30px;

font-weight:700;

color:#111827;

}

.logo span{

color:#6C63FF;

}

.nav-links{

display:flex;

gap:40px;

list-style:none;

}

.nav-links li{

cursor:pointer;

font-weight:500;

transition:.3s;

}

.nav-links li:hover{

color:#6C63FF;

}

.start-btn{

background:#6C63FF;

color:white;

padding:14px 28px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.start-btn:hover{

background:#5548e5;

}